{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static "god/styles.css" %}" />
  <title>Document</title>
</head>

<body>
<div id="container">
<h1>Free conferences</h1>
{% for conference in free %}
    <div class="tile">
        <span class="image" style="content: url({{ conference.imageURL }})"></span>
        <h3>{{ conference.confName }}</h3>
        <p>Start Date:{{ conference.confStartDate }}</p>
        <p>End Date:{{ conference.confEndDate }}</p>
        <p>{{ conference.venue }}</p>
    </div>
{% endfor %}

<h1>Paid conferences</h1>
{% for conference in paid %}
    <div class="tile">
        <span class="image" style="content: url({{ conference.imageURL }})"></span>
        <h3>{{ conference.confName }}</h3>
        <p>Start Date:{{ conference.confStartDate }}</p>
        <p>End Date:{{ conference.confEndDate }}</p>
        <p>{{ conference.venue }}</p>
    </div>
{% endfor %}
</div>


</body>

</html>
