{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static "god/styles.css" %}" />
    <link href="https://fonts.googleapis.com/css?family=Turret+Road&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <title>conference</title>
    </head>
    <body>
        <div id="container">
            <div id="head">
                <h1 style="flex-grow: 10;">Paid conferences</h1>
                <span style="flex-grow: 1;"><a href='../' style="text-decoration: underline; color: white;"><h1>Free</h1></a></span>
            </div>
            {% for conference in paid %}
                <div class="tile">
                    <span class="image" style="content: url({{ conference.imageURL }})"></span>
                    <div class="details">
                        <h3>{{ conference.confName }}</h3>
                        <p>Start Date:{{ conference.confStartDate }}</p>
                        <p>End Date:{{ conference.confEndDate }}</p>
                        <p><i class="fas fa-compass" style="margin-right: 4px"></i>{{ conference.venue }}</p>
                        <p><a href="{{ conference.confUrl }}" style="text-decoration: none;">More details here</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
